* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.flex-container-student > h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 10px;
}

.flex-container-student {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-top: 56px;
  justify-content: center;
  width: 100vw;
}

.grid-container > p {
  color: #0f0f0f;
}

td {
  padding: 10px;
  width: 336px;
  /* text-align: center; */
}

.index-data {
  text-align: center;
  width: 50px;
}
.cell-delete {
  text-align: center;
}

.btn-delete {
  background-color: #ff0000;
  color: red;
  font-weight: 700;
  border: solid red 2px;
  background: none;
  padding: 5px 30px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: red;
  color: #fff;
  transition: 0.3s;
}

.student-name {
  text-decoration: none;
  color: #0f0f0f;
}

.student-filter {
  margin: 20px 0;
  padding: 10px;
  border: solid 2px #0f0f0f;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #0f0f0f;
  background-color: #fff;
  cursor: pointer;
}
